<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="annexes/styles/monStyle.css" type="text/css" rel="stylesheet" media="screen"/>
    <title>Pizza maison</title>
  </head> 
<body>
	<div id="content">
			<h1><img src="annexes/images/pizza.gif" alt="annexes/images/pizza.gif" width="75" > Pizza Perso: le site où VOUS êtes le pizzaiolo !</h1>
			<p>N'oubliez pas d'entrer vos coordonnées pour la livraison !</p>
			<p>[<a href="/">Retour</a>]</p>
	</div>
</body>
</html>