<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="annexes/styles/monStyle.css" type="text/css" rel="stylesheet" media="screen"/>
    <title>Pizza maison</title>
  </head> 

  <body>
  
  			<div id="content">
	    
			<h1><img src="annexes/images/pizza.gif" alt="annexes/images/pizza.gif" width="75" > Pizza Perso: le site où VOUS êtes le pizzaiolo !</h1>
						
			<p>Composez votre pizza vous-même (base: tomate, mozzarella)</p>
			
			
			<form  action="commande" method="get">
			
		     	<p><strong>Garniture 1:</strong>
		     		<select name="garniture1">
		     		<option value="ail">Ail et oignon</option>
		     		<option value="ananas">Ananas</option>
		     		<option value="anchois">Anchois</option>
		     		<option value="artichauts">Artichauts</option>
		     		<option value="asperges">Asperges</option>
		     		<option value="capres">Câpres</option>
		     		<option value="champignons">Champigons</option>
		     		<option value="crevettes">Crevettes</option>
		     	</select>    	
		     	</p>
		     	
		     	<p><strong>Garniture 2:</strong>
		     		<select name="garniture2">
		     		<option value="fruit de mer">Fruits de Mer</option>
		     		<option value="jambon">Jambon</option>
		     		<option value="lard">Lard</option>
		     		<option value="maïs">Maïs</option>
		     		<option value="merguez">Merguez</option>
		     		<option value="oeufs">Oeufs</option>
		     		<option value="olives">Olives</option>
		     	</select>    	
		     	</p>
		     	
		     	<p><strong>Garniture 3:</strong>
		     		<select name="garniture3">
		     		<option value="origan">Origan</option>
		     		<option value="poivron">Poivron</option>
		     		<option value="4 fromages">4 fromages</option>
		     		<option value="salami">Salami</option>
		     		<option value="salami piquant">Salami piquant</option>
		     		<option value="thon">Thon</option>
		     		<option value="tomates fraîches">Tomates fraîches</option>
		     	</select>    	
		     	</p>
		     	
		     	<p><strong>Taille:</strong>
		     	 <input type="radio" name="taille" value="mini"/> Mini
		     	 <input type="radio" name="taille" value="moyenne" checked="checked" /> Moyenne 
		     	 <input type="radio" name="taille" value="family" /> Family
		     	</p>
		     	
		     	<p>Merci de nous transmettre vos coordonnées pour la livraison:	</p>
		     	
		     	<p><strong>Nom</strong><br />
		     	<input type="text" name="nom" size="30"/>
		     	</p>
		     	
		     	<p><strong>Adresse</strong><br />
		     	<input type="text" name="adresse" size="30"/>
		     	</p>
		     	
		     	<p>
		     	     	<input type="submit" value="Commander" />
		     	     	<input type="reset" value="Annuler" />
		     	</p>
		
		     </form>
		     
	</div>
			
  </body>
</html>