<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="annexes/styles/monStyle.css" type="text/css" rel="stylesheet" media="screen"/>
    <title>Pizza maison</title>
  </head> 

  <body>
  
  			<div id="content">
	    
			<h1><img src="annexes/images/pizza.gif" alt="annexes/images/pizza.gif" width="75" >Pizza Perso: le site où VOUS êtes le pizzaiolo !</h1>
			
			<p>Merci {client} d'avoir passé votre commande pour une pizza {size} avec la composition suivante:</p>
			
			<ul>
				<li><strong>Garniture 1: </strong>{gar1}</li>
				<li><strong>Garniture 2: </strong>{gar2}</li>
				<li><strong>Garniture 3: </strong>{gar3}</li>
			</ul>
			
			<p>Votre pizza sera livrée dans moins d'une heure à l'adresse suivante: <strong>{lieu}</strong></p>
			
			<p>Notre gage de qualité: votre commande est la {compteur}-ème que nous traitons depuis le 18 avril 2018 !</p>
			
			</div>
			
  </body>
</html>

